.app4 {
    padding: 5% 0;
    background-color: rgb(175, 94, 94);
}

.container-app4 {
    padding: 0 5%;
}

.container-app4 .row-app4 {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}

.container-app4 .row-app4 .cardJsx .box-count {
    display: flex;
    justify-content: space-between;
}

.container-app4 .row-app4 .cardJsx .box-count div {
    width: 40%;
}

.container-app4 .cardJsx .box-dom {
    background-color: azure;
    width: 30%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
}

.UseReducer {
    padding: 0 5%;
}