.app7-context {
    width: 100%;
}

.app7-context .row-ctx {
    display: flex;
    gap: 25%;
    justify-content: space-between;
}

.card-ctx {
    width: 30%;
    background-color: rgb(191, 191, 151);
    padding: 1.5rem;
    border-radius: 10%;
    height: 250px;
    box-shadow: 20px;
    overflow-y: auto;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.3);
}