
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #bfc9d2;
}

.counter-body {
    background-color: rgb(123, 123, 126);
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 5% 10%;
}

.counter-body .box-counter {
    background-color: rgb(189, 179, 131);
    width: 20%;
    padding: 20px;
    text-align: center;
    border-radius: 20px 40px;
    box-shadow: 50% ;
}

.counter-body .box-counter .counter {
    display: flex;
    justify-content: center;
    gap: 5%;
}

.cardJsx {
    width: 25%;
    padding: 1rem;
    border-radius: 10%;
    height: 250px;
    box-shadow: 20px;
    overflow-y: auto;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.3);
    /* scrollbar-width: thin;
    scrollbar-color: #b46e6e rgba(199, 181, 212, 0); */
}

.cardJsx h3 {
    text-align: center;
}

.cardJsx div {
    margin-bottom: 10%;
}

ul {
    list-style: none;
    padding-inline-start: 0;
}

.row {
    display: flex;
    justify-content: space-between;
}

.cardJsx::-webkit-scrollbar {
width: 5px;
}

.cardJsx::-webkit-scrollbar-track {
background: #f1f1f100;
}

.cardJsx::-webkit-scrollbar-thumb {
background-color: #DADADA;
border-radius: 20px;
}
